.comment-container {
    display: flex;
}

.comment-img {
    margin-right: 20px;
}

.comment-img img {
    height: 50px;
    cursor: pointer;
}

.comment-data {
    display: flex;
    flex-direction: column;
}

